:root{
    --clr-neon: #14f7ff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.first-container{
    display: flex;
    }

.search-container{
    width: 25%;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    
    padding: 10px;
}

.input-field{
   width: 100%;
   font-size: clamp(1rem, 0.65rem + 0.25vw, 1.25rem);
    padding: 5px 0px 5px 5px;
   box-shadow: 3px 3px 5px grey;
   border: none;
   border-radius: 8px;
  
}

.input-field:focus{
    outline: none;
}

.input-field::placeholder{
    font-size: clamp(1rem, 0.65rem + 0.25vw, 1.25rem);
}
.search-button{
    padding: 5px 5px 5px 5px;
    width: 100%;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    box-shadow: inset 0 0 0.5em var(--clr-neon)
                      0 0 0.5em var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    backdrop-filter: blur(10px);
    background-color: black;
   cursor: pointer;
   color: var(--clr-neon);
   border-radius: 8px;
   text-shadow: 0 0 0.3em var(--clr-neon);
}

.search-container > p{
    font-size: 1.2rem;
    font-weight: bold;

}

.location-button{
    padding: 5px 5px 5px 5px;
    width: 100%;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    box-shadow: inset 0 0 0.5em var(--clr-neon)
                      0 0 0.5em var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    backdrop-filter: blur(10px);
    background-color: black;
   cursor: pointer;
   color: var(--clr-neon);
   border-radius: 8px;
   text-shadow: 0 0 0.3em var(--clr-neon);
   
}
.current-location-data{
    background: linear-gradient(180deg, rgb(49, 121, 52), rgb(12, 2, 2));
    width: 100%;
    padding: 5px;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    box-shadow: 3px 3px 5px lightslategray;
    line-height: 1.5rem;
    color: white;
    border-radius: 8px;
}


.search-button:hover{
    transform: scale(0.95);
    transition: 0.2s ease-out;
}

.location-button:hover{
    transform: scale(0.95);
    transition: 0.2s ease-out;
}

.weather-data{
    display: flex;
    flex-direction: column; 
    width: 46%;
    border-radius: 8px;
    object-fit: contain;
    /* background-color:rgba(63,76,11,0.3); */
    border:1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px black;
    color: white;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    text-align: center;
    padding: 0px 0px;
}

.weather-image img{
    width: 10vw;
    object-fit: contain;

}

.container1{
   display: grid;
   grid-template-columns: auto auto;
}
.humidity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind-image img{
    width: 3vw;
    height: 3vh;
    object-fit: contain;
}

.humidity-image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.wind-image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.humidity-image img{
    width: 3vw;
    height: 3vh;
    object-fit: contain;
}
.text-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.current-forecast{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}
.not-found{
    margin: auto;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}
.second-container{
    display: flex;
    margin-inline: 10px;
    margin-top: 3%;
    gap: 10px;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

section{
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.five-days{
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    border-radius: 8px;
    backdrop-filter: blur(25px);
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

@media (max-width: 425px){
.first-container{
    flex-direction: column;
    margin-inline: 10%;
}

.search-container{
    width: 100%;
}
.second-container{
    flex-direction: column;
}

.weather-data{
    width: 100%;
}
}